In [13]:
import os
import django
import pandas as pd
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'fxfutbol.settings')
django.setup()
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [20]:
from analysis.models import MatchStats
fixture_data = MatchStats.objects.all().values()
df = pd.DataFrame(list(fixture_data))
df

,id,tarih,stats,update_date
0,11907427,2024-10-07,"{'match_id': 11907427, 'lineups': {'match_id':...",2024-10-09 22:07:48.850918+00:00
1,11907428,2024-10-07,"{'match_id': 11907428, 'lineups': {'match_id':...",2024-10-09 22:07:48.851376+00:00
2,11907429,2024-10-06,"{'match_id': 11907429, 'lineups': {'match_id':...",2024-10-09 21:56:06.245948+00:00
3,11907430,2024-10-07,"{'match_id': 11907430, 'lineups': {'match_id':...",2024-10-09 22:07:48.852800+00:00
4,11907432,2024-10-07,"{'match_id': 11907432, 'lineups': {'match_id':...",2024-10-09 22:07:48.851819+00:00
...,...,...,...,...
834,12947741,2024-10-06,"{'match_id': 12947741, 'lineups': {'match_id':...",2024-10-09 21:56:06.489706+00:00
835,12959814,2024-10-09,"{'match_id': 12959814, 'lineups': {'match_id':...",2024-10-09 21:25:32.245929+00:00
836,12962059,2024-10-09,"{'match_id': 12962059, 'lineups': {'match_id':...",2024-10-09 21:25:32.245663+00:00
837,12962060,2024-10-09,"{'match_id': 12962060, 'lineups': {'match_id':...",2024-10-09 21:25:32.245840+00:00
838,12962061,2024-10-09,"{'match_id': 12962061, 'lineups': {'match_id':...",2024-10-09 21:25:32.245882+00:00

In [21]:
df["stats"][0].keys()

dict_keys(['match_id', 'lineups', 'incidents', 'graph', 'match_info', 'odds', 'pregame_form', 'statistics'])

In [25]:
stats_df = pd.json_normalize(df['stats'])

stats_df

,match_id,lineups.match_id,lineups.response_code,lineups.data.confirmed,lineups.data.home.players,lineups.data.home.supportStaff,lineups.data.home.formation,lineups.data.home.playerColor.primary,lineups.data.home.playerColor.number,lineups.data.home.playerColor.outline,...,match_info.data.event.awayScore.penalties,match_info.data.event.awayTeam.createdByEditor,match_info.data.event.tournament.roundPrefix,match_info.data.event.homeScore.extra1,match_info.data.event.homeScore.extra2,match_info.data.event.awayScore.extra1,match_info.data.event.awayScore.extra2,match_info.data.event.time.extra1StartTimestamp,match_info.data.event.time.extra2StartTimestamp,match_info.data.event.aggregatedWinnerCode
0,11907427,11907427,200,True,"[{'player': {'name': 'Kristoffer Nordfeldt', '...",[],5-4-1,000000,ffff00,000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11907428,11907428,200,True,"[{'player': {'name': 'Oscar Jansson', 'slug': ...",[],4-2-3-1,132845,5ed9ff,132845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11907429,11907429,200,True,"[{'player': {'name': 'Warner Hahn', 'firstName...",[],4-2-3-1,ffffff,008000,ffffff,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11907430,11907430,200,True,"[{'player': {'name': 'Ricardo Friedrich', 'slu...",[],4-4-2,79bcff,ffffff,79bcff,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11907432,11907432,200,True,"[{'player': {'name': 'David Mitov Nilsson', 's...",[],4-2-3-1,fcfcfd,0000ff,fcfcfd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,12947741,12947741,404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
835,12959814,12959814,404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
836,12962059,12962059,200,True,"[{'player': {'name': 'Rafael Munteanu', 'first...",[],4-3-3,ff0000,ffff00,ff0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
837,12962060,12962060,200,True,"[{'player': {'name': 'Konstantin Heide', 'firs...",[],4-3-3,ffffff,000000,ffffff,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
838,12962061,12962061,404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
stats_df.to_excel("AyrÄ±ntÄ±lÄ±Stats.xlsx")

In [18]:
df = pd.DataFrame(datam)
df

           id  code  lineup_code            home                  away
0    11907427   200          200             AIK             BK HÃ¤cken
1    11907428   200          200  DjurgÃ¥rdens IF             Kalmar FF
2    11907429   200          200     Hammarby IF          Halmstads BK
3    11907430   200          200        MalmÃ¶ FF           IFK VÃ¤rnamo
4    11907432   200          200  IFK NorrkÃ¶ping          IFK GÃ¶teborg
..        ...   ...          ...             ...                   ...
834  12947741   200          404  CobÃ¡n Imperial  Deportivo Malacateco
835  12959814   200          404     Ireland U19            Greece U19
836  12962059   200          200     Romania U19            Norway U19
837  12962060   200          200     Germany U19             Spain U19
838  12962061   200          404      France U19           Denmark U19

[839 rows x 5 columns]